[2015-05-25 01:18] RIanDeLaCruz opened #1 "Posts below banner"
There should only be 4 posts below the banner: Sports, Beyond Loyola, Features, and Inquiry in that order

[2015-05-25 01:19] RIanDeLaCruz opened #2 "Breaking articles"
3 breaking articles, maximum

[2015-05-25 01:39] #2 closed

[2015-05-25 02:16] #1 closed

[2015-05-25 04:58] janbelmonte opened #3 "Test issue for Trello integration"
Test

[2015-05-25 05:21] #3 closed

[2015-07-07 08:39] RIanDeLaCruz opened #4 "Article Title Issue"
Article title is skewing a lot of things.The text is not responsive.

![image](https://cloud.githubusercontent.com/assets/7766185/8542175/48e253b4-24c6-11e5-9b99-54be061318d1.png)

![image](https://cloud.githubusercontent.com/assets/7766185/8542234/bfd2292c-24c6-11e5-8637-285481a64f83.png)

[2015-07-07 08:41] theguidon commented on #4
Noted. Will work on this during my styling stage after all pages are constructed. Thanks, @RIanDeLaCruz

[2015-07-26 12:23] RIanDeLaCruz opened #5 "Blurb Images Sizing"
The images on the blurbs have no defined height and it inherits a wrong height setting
![image](https://cloud.githubusercontent.com/assets/7766185/8894130/09be5c9c-33de-11e5-866e-63f22b772a00.jpg)

[2015-07-26 13:33] RIanDeLaCruz commented on #5
![image](https://cloud.githubusercontent.com/assets/7766185/8894116/bb783666-33dd-11e5-874f-ff149f49fa4b.jpg)

[2015-07-26 13:41] janbelmonte commented on #5
Whaaaat, hahaha. I've never encountered this. How can I replicate the issue?

[2015-07-26 13:43] RIanDeLaCruz commented on #5
Try and install the theme.

[2015-07-26 13:43] janbelmonte commented on #5
@RIanDeLaCruz Okay, I'll install it on dev.theguidon

[2015-07-26 13:44] RIanDeLaCruz commented on #5
@janbelmonte Don't you have a local?:))) but okay

[2015-07-26 13:45] RIanDeLaCruz commented on #5
BTW, this issue is due to the size used by WordPress itself. In line yung issue eh

[2015-07-26 13:46] janbelmonte commented on #5
@RIanDeLaCruz Size of what?

[2015-07-26 13:56] RIanDeLaCruz commented on #5
@janbelmonte The thumbnail as defined by WordPress

[2015-07-26 14:58] janbelmonte commented on #5
@RIanDeLaCruz Ah so may inline style yung thumbnail dictated by WordPress?

[2015-07-27 01:31] RIanDeLaCruz commented on #5
@janbelmonte  yep.

[2015-08-03 14:14] theguidon opened #6 "Some fonts aren't working"
- Content area text should be Mercury Roman (check @font-face)
- Caption text should be Univers

[2015-08-03 14:15] janbelmonte opened #7 "Don't include thumbnail title in photo caption."

[2015-08-03 14:19] janbelmonte opened #8 "Make function that scrapes caption to make first part bold"
Sample caption:
"FOR THE BLUE AND WHITE. The Ateneo Blue Booters defeated the Green Booters to claim the UAAP Championship. Photo by Joseph Angan."

- script should find out how many periods there are in the caption (to see if it's continuous)
- if there is only one period, leave caption as is
- if there are at least two periods, make all characters preceding the first period, bold.

[2015-08-03 14:21] janbelmonte opened #9 "Change assignment of article layouts based on article category"
Regular (article.html) — News, Sports
Fullscreen (article-fullscren.html) — Features, Beyond Loyola, Inquiry
Bare (to be constructed) — Opinion

[2015-08-03 14:23] janbelmonte opened #10 "Link navbar dynamically"
Categories to include
- News
- Sports
- Opinion
- Beyond Loyola
- Features
- Inquiry

[2015-08-03 18:13] janbelmonte opened #11 "Add "Load More" button below category-items"
To be applied to:
- author-profile page
- category page

Conditions:
- On page load, show 9 entries
- For each click of Load More button, append 9 more entries
- Order of entries should be latest on top, earlier at the bottom (normal feed order)

Please create class ".load-more" for Load More div so I can style. Thanks!

[2015-08-03 18:17] janbelmonte commented on #5
@RIanDeLaCruz I think this has been resolved na? Closing for now. Reopen if necessary. Thanks.

[2015-08-03 18:17] #5 closed

[2015-08-04 01:15] RIanDeLaCruz commented on #6
@janbelmonte there is no font setting for caption-featured id

[2015-08-04 01:16] RIanDeLaCruz commented on #6
@janbelmonte the body copy is in Mercy Text Roman

[2015-08-04 02:33] #9 closed

[2015-08-04 14:03] janbelmonte commented on #6
@riandelacruz okay, will set font for caption-featured

meanwhile here's what i get for the body copy
![screenshot 2015-08-04 22 00 47](https://cloud.githubusercontent.com/assets/9819894/9062337/682cb662-3af4-11e5-9a3d-3bd205a152ee.png)

[2015-08-04 14:16] janbelmonte opened #12 "Category pages do not have descriptions yet"
Added descriptions in the db via wp-admin. Please make them reflect on the pages.

[2015-08-04 14:21] janbelmonte opened #13 "Post excerpts are too short"
Post excerpts should be at 150–165 characters with spaces

Applies to:
- Category page items
- Author profile page

[2015-08-04 14:26] janbelmonte opened #14 "Add temporary default user portrait in author profile page"

[2015-08-04 14:28] #12 closed

[2015-08-04 14:29] janbelmonte opened #15 "Remove Katipunan link from navigation"
Where did this come from even haha

[2015-08-04 14:31] janbelmonte opened #16 "Replace Twitter widget in author profile page with author description box"
Based on prototype

[2015-08-04 14:33] #6 closed

[2015-08-04 14:35] janbelmonte opened #17 "Add 2-3 more category items to fill remaining space underneath"
Applies to:
- category page
- author profile page

Also linking #11 here since it should be underneath the entries. (reminder lang)

[2015-08-04 14:40] janbelmonte opened #18 "Add/edit custom field in co-authors plugin for author course"
Options
1) Add a new field where we can input course of the author and reflect it on author page
2) Edit one of the existing fields so we can use it for author course

Check wp admin > users > guest authors and edit one of the authors to see existing fields

[2015-08-04 14:44] janbelmonte opened #19 "Change order of links in navigation"
Home
News
Sports
Opinion
Beyond Loyola
Features
Inquiry
About

[2015-08-04 14:46] janbelmonte opened #20 "Category entry text should retain proper alignment even if there is no image"
Not super priority but awesome if doable

[2015-08-04 14:48] janbelmonte opened #21 "Height of category item images should be consistent"
Check prototype

Applies to:
- category page
- author profile page

Willing to disregard if not doable

[2015-08-04 14:52] #4 closed

[2015-08-04 14:53] RIanDeLaCruz commented on #11
http://code.tutsplus.com/tutorials/how-to-create-infinite-scroll-pagination--wp-24873

[2015-08-04 14:54] #10 closed

[2015-08-04 14:55] janbelmonte commented on #11
@RIanDeLaCruz  daaaammmnnnn

[2015-08-04 14:55] RIanDeLaCruz commented on #11
HAHAHA. kayang-kaya na @janbelmonte

[2015-08-04 14:56] janbelmonte commented on #11
I leave it to your awesome powers

[2015-08-04 14:58] #13 closed

[2015-08-04 14:59] RIanDeLaCruz commented on #16
Just posting the solution I had in mind here.

Create function to load blurbs. This is reusable.

if statements for home page, articles and author
load specific setup for each

[2015-08-04 15:00] RIanDeLaCruz commented on #20
this is on the style, @janbelmonte

[2015-08-04 15:00] janbelmonte opened #22 "Make nameplate + menu sticky"
Nameplate and menu should stick to top of viewport while scrolling

@RIanDeLaCruz sorry, i don't have time to do the JS for this so if you could please do it na lang, thanks!

[2015-08-04 15:02] janbelmonte commented on #20
Actually, on second thought I think nevermind. Wouldn't make sense on mobile pala.

[2015-08-04 15:02] #20 closed

[2015-08-04 15:03] RIanDeLaCruz commented on #18
https://wordpress.org/support/topic/guest-author-about-info-not-displayed

[2015-08-04 15:04] RIanDeLaCruz commented on #21
It is consistent

![2015-08-04-230414_1318x744_scrot](https://cloud.githubusercontent.com/assets/7766185/9064039/30d3b9dc-3afd-11e5-870a-1489eaafd4b4.png)

[2015-08-04 15:04] janbelmonte commented on #16
@RIanDeLaCruz Adding to that ^ I think you can make a condition na if wala pang description, put twitter widget na lang

[2015-08-04 15:06] RIanDeLaCruz commented on #16
Noted

[2015-08-04 15:07] janbelmonte commented on #21
Oh, interesting. Although, check these screenshots from http://dev.theguidon.com/category/news/

![screenshot 2015-08-04 23 07 18](https://cloud.githubusercontent.com/assets/9819894/9064108/9d35591e-3afd-11e5-965e-a740dd6d3b6d.png)
![Uploading Screenshot 2015-08-04 23.07.12.png…]()

[2015-08-04 15:08] RIanDeLaCruz commented on #22
ok

[2015-08-04 15:09] RIanDeLaCruz commented on #21
please inspect each element @janbelmonte

[2015-08-04 15:09] RIanDeLaCruz commented on #21
style issues kasi siya eh, not really development, unless inline styles

[2015-08-04 15:11] janbelmonte commented on #21
@RIanDeLaCruz actually, yeah. Assigned this to you lang since I don't know how you propagated images? <img> lang ba siya or nakabackground...

[2015-08-04 15:11] RIanDeLaCruz commented on #21
However you did it in your prototype, I followed to the letter @janbelmonte

[2015-08-04 15:12] janbelmonte commented on #21
@RIanDeLaCruz  Ah okay gets ko na how to fix this. Sorry!

[2015-08-04 15:12] RIanDeLaCruz commented on #21
Ok ok. I'll just read the prototype log when you fix it.  @janbelmonte

[2015-08-04 15:12] janbelmonte commented on #21
Note: Create div for category-item image, set overflow hidden

[2015-08-04 15:13] RIanDeLaCruz commented on #21
Just close this once you fixed it in the prototype.

[2015-08-04 15:13] RIanDeLaCruz commented on #21
I'll do it now

[2015-08-04 15:13] janbelmonte commented on #21
@RIanDeLaCruz got it

[2015-08-04 15:13] janbelmonte commented on #21
Wait, you'll do what

[2015-08-04 15:13] RIanDeLaCruz commented on #21
Nevermind. Ikaw na bahala.

[2015-08-04 15:14] janbelmonte commented on #21
HAHA okay it's my fault so i'll fix it <3

[2015-08-04 15:21] RIanDeLaCruz commented on #22
This can be implemented in CSS.

Try this:

nameplate, menu {position:fixed}
menu has no more margintop in the toggled and untoggled state
Add a margin to the top of the content divs equal to the height of the nameplate

[2015-08-04 15:23] RIanDeLaCruz commented on #22
If you want the content to also push down when opening the menu, I'll just add a javascript function for that.

[2015-08-04 15:23] RIanDeLaCruz commented on #19
This is set in the Dashboard, not a template thing

[2015-08-04 15:27] janbelmonte commented on #22
OO NGA PALA
<---- BOBO

Reassigning to myself for fixing

[2015-08-04 15:30] janbelmonte commented on #19
onga pala

[2015-08-04 15:31] #19 closed

[2015-08-04 16:59] janbelmonte commented on #21
I'll disregard this for the meantime.

[2015-08-04 16:59] #21 closed

[2015-08-04 17:13] #22 closed

[2015-08-04 17:13] janbelmonte commented on #15
Fixed by changing menu items in wp admin

[2015-08-04 17:13] #15 closed

[2015-08-05 06:26] RIanDeLaCruz commented on #18
@janbelmonte It seems that there is no way to do this and make the info appear outside the loop. What we could do is use a different field instead. Reappropriate the unused fields

[2015-08-05 06:27] RIanDeLaCruz commented on #18
Let's just reappropriate. I don't think we can edit the boxes

[2015-08-05 06:28] janbelmonte commented on #18
Alright, I have no problem with that. Listed it as option number 2 earlier ^^

[2015-08-05 06:29] janbelmonte commented on #18
@RIanDeLaCruz So we won't necessarily rename the input field? We'll just treat one of the existing fields as a course field? Am I getting this right?

[2015-08-05 06:40] RIanDeLaCruz commented on #18
I've hacked the plug in. Hahaha. We can now add the course

[2015-08-05 06:40] janbelmonte commented on #18
Good job!

[2015-08-05 06:46] RIanDeLaCruz commented on #18
Still am looking for a way to make it legit

[2015-08-05 06:47] janbelmonte commented on #18
Also if you edited the plugin's source code, find a way to make sure your edits won't be removed once the plugin is updated.

[2015-08-05 07:10] RIanDeLaCruz commented on #18
@janbelmonte I got it to work legit

[2015-08-05 07:18] RIanDeLaCruz commented on #18
@janbelmonte I've already found a way to not break the the plug in. It can safely update now

[2015-08-05 07:22] janbelmonte commented on #18
How did you do it?

On Wednesday, August 5, 2015, Ian De La Cruz <notifications@github.com>
wrote:

--
Sent from Mobile

Jan-Daniel S. Belmonte
Graphic Designer

(+63) 917 860 5870
www.janbelmonte.com

[2015-08-05 07:31] RIanDeLaCruz commented on #18
I've created a function that saves the POST data from the fields.

[2015-08-05 09:22] janbelmonte opened #23 "Add comment section"
Kindly check the existing theme and how the comment section there works. I'm not sure if the comments are being stored in a separate db table. The background of this is that before I installed that theme, the comments section used to be Disqus, but we used the native comments of the new them instead.

1. Check which commenting plugin we can use for new theme
2. Check if new plugin will affect stor

[2015-08-05 14:26] #16 closed

[2015-08-05 14:27] #18 closed

[2015-08-05 16:17] #14 closed

[2015-08-05 16:24] janbelmonte commented on #23
Options as I see it:
- Native WordPress comments
- Facebook comments

Really not inclined to using Disqus because it's a hassle for users. Facebook might become an eyesore but it has a lot of pros. What do you think, @RIanDeLaCruz?

[2015-08-06 06:47] janbelmonte opened #24 "Fix spaces below nameplate"
1. There should be no extra space in between nameplate and category name
![screenshot 2015-08-06 14 39 52](https://cloud.githubusercontent.com/assets/9819894/9105353/63c6c7a6-3c49-11e5-9b17-9d40c3c70f12.png)

![screenshot 2015-08-06 14 44 05](https://cloud.githubusercontent.com/assets/9819894/9105376/a4f25420-3c49-11e5-8486-bcf4881a4f9a.png)

2. Space here is too big
![screenshot 2015-08-06 14 42

[2015-08-06 06:50] janbelmonte opened #25 "Search input field should take full-width and full-height of parent div"
![screenshot 2015-08-06 14 49 36](https://cloud.githubusercontent.com/assets/9819894/9105443/713044de-3c4a-11e5-8516-8aec0ba36eac.png)

[2015-08-06 06:54] janbelmonte opened #26 "Collage collides with nameplate"
![screenshot 2015-08-06 14 54 08](https://cloud.githubusercontent.com/assets/9819894/9105514/177d25e6-3c4b-11e5-9608-c5976b6c22ed.png)

[2015-08-06 10:34] janbelmonte opened #27 "Author image does not reflect on author page"
![screenshot 2015-08-06 18 33 54](https://cloud.githubusercontent.com/assets/9819894/9109635/c7f25702-3c69-11e5-832d-3f806b96570b.png)

![screenshot 2015-08-06 18 33 57](https://cloud.githubusercontent.com/assets/9819894/9109641/cd81411a-3c69-11e5-80b7-ff51d28ddf1e.png)

[2015-08-06 10:35] RIanDeLaCruz commented on #24
wala siya sa akin spaces.

![2015-08-06-183504_1366x768_scrot](https://cloud.githubusercontent.com/assets/7766185/9109669/f109fb36-3c69-11e5-86a1-4eeb6f2dce4e.png)

[2015-08-06 10:36] RIanDeLaCruz commented on #27
I've commented out the loading of the image.

[2015-08-06 10:36] janbelmonte commented on #24
@RIanDeLaCruz Chrome?

[2015-08-06 10:38] janbelmonte commented on #24
Ahh yung wp admin navbar pala nagpupush sa kanya pababa.

[2015-08-06 10:38] #24 closed

[2015-08-06 10:48] janbelmonte commented on #7
Fixed

[2015-08-06 10:48] #7 closed

[2015-08-06 11:01] janbelmonte opened #28 "Some pages have wrong category tags even if correct categories are ticked in admin"
For article, The Return of "Blue Eagle, The King"

![screenshot 2015-08-06 18 59 28](https://cloud.githubusercontent.com/assets/9819894/9110102/78948cda-3c6d-11e5-8c67-69f7155f8ff9.png)

![screenshot 2015-08-06 18 59 45](https://cloud.githubusercontent.com/assets/9819894/9110119/8fc52004-3c6d-11e5-8313-d490c8020a1c.png)

[2015-08-06 11:06] RIanDeLaCruz commented on #27
Will add the conditional and figure out the appropriate size but it's working already

[2015-08-06 11:11] RIanDeLaCruz commented on #27
Conditional is now working

[2015-08-06 11:11] #27 closed

[2015-08-06 12:13] RIanDeLaCruz commented on #28
Done

[2015-08-06 16:03] #8 closed

[2015-08-06 16:04] janbelmonte commented on #26
False alarm -- caused by wp-admin navbar so not visible on client side

[2015-08-06 16:04] #26 closed

[2015-08-07 09:20] #23 closed

[2015-08-07 09:21] janbelmonte opened #29 "Add comment section styles"

[2015-08-07 09:23] janbelmonte commented on #28
Should be Opinion > Chalkmarks
![screenshot 2015-08-07 17 22 43](https://cloud.githubusercontent.com/assets/9819894/9132831/05490654-3d29-11e5-876f-be5cbe4b65af.png)

[2015-08-07 11:38] RIanDeLaCruz commented on #28
fixed again.
![2015-08-07-193812_1366x768_scrot](https://cloud.githubusercontent.com/assets/7766185/9134994/de5ea93c-3d3b-11e5-99c8-aec18d319b2f.png)

[2015-08-07 11:38] #28 closed

[2015-08-08 02:35] janbelmonte opened #30 "Please list down all of the files concerning comments section here"

[2015-08-08 02:36] janbelmonte opened #31 "Move comments section from bottom of page (mobile)"
Right now, the comments area appears at the very bottom. We need to move it below the content area and above the sidebar. Can this be done?

[2015-08-08 02:37] RIanDeLaCruz commented on #30
comments.php and functions.php

[2015-08-08 02:38] RIanDeLaCruz commented on #31
Yep. It could be done.

[2015-08-08 02:38] janbelmonte commented on #30
How about copy? Where can I change the copy? Like the labels and stuff. (text, not style)

[2015-08-08 02:41] RIanDeLaCruz commented on #30
It's in functions @janbelmonte

[2015-08-08 02:53] janbelmonte commented on #30
Got it thanks, will close this after I'm done resolving.

[2015-08-08 03:13] janbelmonte commented on #30
@RIanDeLaCruz  Where can I edit:
"You may use these HTML tags and attributes: <a href="" title=""> <abbr title=""> <acronym title=""> <b> <blockquote cite=""> <cite> <code> <del datetime=""> <em> <i> <q cite=""> <s> <strike> <strong>"

[2015-08-08 03:18] RIanDeLaCruz commented on #30
use this
'comment_notes_after' => '<p class="form-allowed-tags">' .
    sprintf(
      __( 'You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes: %s' ),

just add it to $comment_args variable in comment.php

[2015-08-08 03:19] RIanDeLaCruz commented on #30
Please see http://codex.wordpress.org/Function_Reference/comment_form

[2015-08-08 03:34] janbelmonte commented on #30
Lol, I'm breaking it. Sorry, really not versed with wp development. Can you just please remove that part. We don't need to show it.

[2015-08-08 03:35] RIanDeLaCruz commented on #30
Ok. HAHA

[2015-08-08 03:38] RIanDeLaCruz commented on #30
Done

[2015-08-08 03:38] RIanDeLaCruz commented on #30
wait. Something broke

[2015-08-08 03:38] RIanDeLaCruz commented on #30
Misplaced semi-colon

[2015-08-08 04:09] janbelmonte commented on #30
@RIanDeLaCruz How's this doing?

[2015-08-08 04:10] RIanDeLaCruz commented on #30
done

[2015-08-08 04:11] RIanDeLaCruz commented on #11
I'll just be adding the class, but I've already uploaded the plugin

[2015-08-08 04:13] RIanDeLaCruz commented on #11
just style it. Thanks @janbelmonte

[2015-08-08 04:15] RIanDeLaCruz commented on #30
Wait. Something must've happened to the file. Wait

[2015-08-08 04:16] janbelmonte commented on #30
omg nagsave ako sa functions.php, baka na-overwrite ko yung sayo haha

[2015-08-08 04:16] RIanDeLaCruz commented on #30
what did you do sa functions

[2015-08-08 04:17] RIanDeLaCruz commented on #30
Nah. It didn't. I wasn't able to upload lang

[2015-08-08 04:17] janbelmonte commented on #30
Ah okay, pero you're working on top of my previously edited functions right? I just moved stuff around, changed a class.

[2015-08-08 04:20] RIanDeLaCruz commented on #30
Don't need to fix anything inside functions

[2015-08-08 04:29] janbelmonte commented on #30
@RIanDeLaCruz Where/how to edit this area? Or ikaw na lang ulit?

![screenshot 2015-08-08 12 29 07](https://cloud.githubusercontent.com/assets/9819894/9149074/2874ba10-3dc9-11e5-91bc-8417da36bf4f.png)

[2015-08-08 04:34] janbelmonte commented on #30
nvm found it

[2015-08-08 04:37] RIanDeLaCruz commented on #11
Hold that thought. It isn't loading the next set.

[2015-08-08 04:44] RIanDeLaCruz commented on #11
Works properly now, @janbelmonte

[2015-08-08 04:59] RIanDeLaCruz commented on #31
@janbelmonte This works, but only real mobile devices only.

[2015-08-08 04:59] janbelmonte commented on #30
@RIanDeLaCruz gaaah, bumalik yung you may use html tags shit

[2015-08-08 05:01] janbelmonte commented on #31
Working now. Thanks!

[2015-08-08 05:01] #31 closed

[2015-08-08 05:04] RIanDeLaCruz commented on #25
@janbelmonte could you just create a class for this?

[2015-08-08 05:06] janbelmonte commented on #25
@RIanDeLaCruz #search is assigned to that, idk why the style's not working

[2015-08-08 05:07] RIanDeLaCruz commented on #30
Yeah.

[2015-08-08 05:09] RIanDeLaCruz commented on #25
Oh, that's because search is the wrapper.
It's structure is:
form#search
--label
----input
--button

[2015-08-08 05:12] RIanDeLaCruz commented on #30
wala na ulit @janbelmonte. I think out comments.php are overriding each other

[2015-08-08 05:12] janbelmonte commented on #30
Onga eh. Sorry about that. Thanks!

[2015-08-08 05:12] #30 closed

[2015-08-08 05:15] RIanDeLaCruz commented on #11
Styles na lang

[2015-08-08 05:21] RIanDeLaCruz commented on #17
I can't have a different number of posts by default and what is to be added.

[2015-08-08 05:24] #29 closed

[2015-08-08 05:26] janbelmonte commented on #11
Anong class/id inassign mo for this?

[2015-08-08 05:28] RIanDeLaCruz commented on #11
sabi mo gamitan ko ng .load-more, so I did.

it's just a link.
a#the-gdn-load-posts.loadmore

[2015-08-08 05:29] janbelmonte commented on #11
Woops sorry! forgot about that

[2015-08-08 05:40] janbelmonte commented on #25
Thanks!

[2015-08-08 05:40] #25 closed

[2015-08-08 05:45] janbelmonte opened #32 "Search results: Show same number of items as category page and add Load More Posts button"
Is it all of the results at once, or have you also placed the Load More button?

[2015-08-08 05:46] RIanDeLaCruz commented on #32
I do not understand the question

[2015-08-08 05:48] RIanDeLaCruz commented on #32
It's programmed to get everything

[2015-08-08 05:50] janbelmonte commented on #11
@RIanDeLaCruz Saang file nakalagay to? As in the link itself

[2015-08-08 05:51] janbelmonte commented on #32
So if I search: "charot"
and there are 200 search results for charot
pages loads and shows me 200 items immediately?

[2015-08-08 05:51] RIanDeLaCruz commented on #32
Yep. I could fix that.

[2015-08-08 05:51] janbelmonte commented on #32
Alright, please make it behave the same way as the category page :D

[2015-08-08 05:52] RIanDeLaCruz commented on #32
Ok.

[2015-08-08 05:56] RIanDeLaCruz commented on #32
Ok. Done.

[2015-08-08 05:58] #32 closed

[2015-08-08 05:59] RIanDeLaCruz commented on #11
It's in the plugin

[2015-08-08 06:02] janbelmonte opened #33 "Change message for 0 search results"
![screenshot 2015-08-08 13 59 03](https://cloud.githubusercontent.com/assets/9819894/9149296/1a3778ea-3dd6-11e5-82b6-3b2f18a7423d.png)

If there are no results for a given search term,
retain "Search results for: [search term]" from original search results page
below it, display "Sorry, we cannot find anything with those keywords." instead of "No more posts to load."

[2015-08-08 06:03] janbelmonte commented on #33
Also, please remove 404 text.

[2015-08-08 06:06] RIanDeLaCruz commented on #33
I actually like the 404 text =))

[2015-08-08 06:06] RIanDeLaCruz commented on #33
But I realized search page pala to

[2015-08-08 06:10] janbelmonte commented on #33
HAHA I like it also, I hope the EB won't decide against it =))

[2015-08-08 06:10] RIanDeLaCruz commented on #33
Benta eh. I think they'll like it

[2015-08-08 06:13] janbelmonte opened #34 "Link GUIDON logo to homepage"

[2015-08-08 06:22] janbelmonte opened #35 "Remove caption div if photo does not have caption"
Caption IDs
- #caption-featured
- #caption-featured-nso
- #caption-article

[2015-08-08 06:24] RIanDeLaCruz commented on #33
Should be working now.

[2015-08-08 06:27] janbelmonte commented on #33
Still lacking:
- "Search results for: [search term]" from original search results page
- remove 404 message

[2015-08-08 06:28] janbelmonte commented on #33
change "cannot" to "can't" na lang pala, sorry copywriting shit haha thanks

[2015-08-08 06:40] janbelmonte opened #36 "Please remove search bar autofocus, breaks nameplate on mobile"
Please try also on Android. The goal is to stop it from zooming/focusing when user taps.
Sometimes, when it really zooms in, the GUIDON logo drops one line because of lack of space.

Note: Don't mind the search icon first, I'll fix that once this is fixed.

![img_1103](https://cloud.githubusercontent.com/assets/9819894/9149428/f447c968-3ddb-11e5-9737-ab80a68cb824.PNG)

[2015-08-08 06:46] janbelmonte opened #37 "Fix search label style on mobile to give space for search icon"

[2015-08-08 06:51] jdbelmonte opened #38 "Change comment author/email border from black to gray"

[2015-08-08 07:56] RIanDeLaCruz commented on #36
I think that we just have to fix the style setting of #search:focus. People have an expectation that when they click search, the cursor is already there.

As for zoom, I'll fix it na.

[2015-08-08 08:07] janbelmonte commented on #36
@RIanDeLaCruz Ah, I'm okay with the cursor. Yung zoom lang ayoko.

[2015-08-08 08:08] RIanDeLaCruz commented on #36
Ahhh, sabi mo kasi remove autofocus eh

[2015-08-08 08:08] janbelmonte commented on #36
Sorry di ko lang alam proper term haha

[2015-08-08 08:10] RIanDeLaCruz commented on #36
Uhm, I've tried a fix. I'll upload to dev

[2015-08-08 08:10] RIanDeLaCruz commented on #36
It's not zooming already

[2015-08-08 08:11] RIanDeLaCruz commented on #36
I'm thinking of using the calc() function to fix the search bar but it doesn't seem to work. Though all the browsers should be supporting it already

[2015-08-08 08:12] RIanDeLaCruz commented on #33
Ok. hindi ko lang pala na-upload =))

[2015-08-08 08:13] janbelmonte commented on #36
Alright, no more zoom. Thanks! I'll fix the search bar na lang :)

[2015-08-08 08:13] #36 closed

[2015-08-08 08:15] RIanDeLaCruz commented on #33
uploaded

[2015-08-08 08:16] janbelmonte commented on #33
Same pa rin. Can't lang yung nagbago

[2015-08-08 08:18] RIanDeLaCruz commented on #33
should be fine now

[2015-08-08 08:18] RIanDeLaCruz commented on #33
forgot to upload search template

[2015-08-08 08:19] janbelmonte commented on #33
Thanks!

[2015-08-08 08:19] #33 closed

[2015-08-08 08:20] RIanDeLaCruz commented on #37
I've found a solution! @janbelmonte

[2015-08-08 08:21] janbelmonte commented on #17
Yeah, I meant add 2-3 more to your global default number of posts. Although teka, ilan na ba naka-set ngayon, 10?

[2015-08-08 08:22] janbelmonte commented on #37
@RIanDeLaCruz feel free to upload, i'll wait to checl

[2015-08-08 08:22] RIanDeLaCruz commented on #37
use this:

#search label {
  width: calc(100% - 80px);
  width: -webkit-calc(100% - 80px);
  width: -moz-calc(100% - 80px);
  width: -o-calc(100% - 80px);
  width: -ms-calc(100% - 80px);
  width: 80%; /* This is just a fallback */
}

#search input {
  width:inherit;
}

[2015-08-08 08:22] RIanDeLaCruz commented on #37
Sige. I'll do it na

[2015-08-08 08:22] janbelmonte commented on #37
Bakit 80px? San mo naderive yun

[2015-08-08 08:23] RIanDeLaCruz commented on #37
DevTools

[2015-08-08 08:23] RIanDeLaCruz commented on #37
actually, hula lang. But It should be smaller

[2015-08-08 08:23] janbelmonte opened #39 "Add vendor prefixes"

[2015-08-08 08:24] RIanDeLaCruz commented on #37
The value should be equal to the total width of the icon

[2015-08-08 08:24] janbelmonte commented on #37
HAHAHA Ah, okay. Well my plan was to just make the label width: 75% for mobile but that does the job more accurately. :)

[2015-08-08 08:24] janbelmonte commented on #37
Gets gets

[2015-08-08 08:25] RIanDeLaCruz commented on #37
Kaya nga. But lagyan na lang natin ng fallback na 75%

[2015-08-08 08:25] RIanDeLaCruz commented on #37
It should be working now. Tell me before I commit

[2015-08-08 08:25] janbelmonte commented on #37
Aryt. Tell me pag uploaded na. Luv luv

[2015-08-08 08:26] janbelmonte commented on #37
Sobrang di maganda for my legacy na makikita ng future GUIDONeers yung false kabaklaan ko sa GitHub

[2015-08-08 08:26] janbelmonte commented on #37
charot chorva!!!

[2015-08-08 08:26] RIanDeLaCruz commented on #37
HAHAHAHAHAHA

[2015-08-08 08:27] RIanDeLaCruz commented on #37
Teka lang. Nag-override ang stuff

[2015-08-08 08:29] RIanDeLaCruz commented on #37
Did you see it already @janbelmonte

[2015-08-08 08:31] RIanDeLaCruz commented on #17
yeah, 10

[2015-08-08 08:39] #34 closed

[2015-08-08 08:59] #35 closed

[2015-08-08 09:06] #37 closed

[2015-08-08 09:08] janbelmonte opened #40 "Remove feature-image div if no image"
Don't forget to apply to all types of article pages
![screenshot 2015-08-08 16 58 50](https://cloud.githubusercontent.com/assets/9819894/9149846/0e4ecadc-3df0-11e5-8b5f-c9c081e89eaa.png)

[2015-08-08 09:09] janbelmonte commented on #40
Hmm shet, joke lang. Apply it only to regular article page. Di pala pwede mawalan ng photo yung fullscreen

[2015-08-08 09:10] janbelmonte commented on #17
alright, thanks. ok na yan

[2015-08-08 09:10] #17 closed

[2015-08-08 10:07] #40 closed

[2015-08-09 14:11] RIanDeLaCruz opened #41 "Create container div for blurb images to limit height"
![2015-08-09-221113_1318x744_scrot](https://cloud.githubusercontent.com/assets/7766185/9155229/9e92954e-3ee3-11e5-983b-1d9eadc32f88.png)

[2015-08-09 14:13] #11 closed

[2015-08-09 14:16] janbelmonte opened #42 "Thumbnails are loading full size; fix image rendition sizes to decrease bandwidth"

[2015-08-09 14:20] janbelmonte opened #43 "Add "By" and publish date to bylines in category and search results templates"
1. Add "By" before names
2. Add publish date after names

![screenshot 2015-08-09 22 18 47](https://cloud.githubusercontent.com/assets/9819894/9155250/ba033328-3ee4-11e5-8482-35382690bb1d.png)

[2015-08-09 14:27] janbelmonte opened #44 "Load 15 items on first load of category/search results pages"
Reason: Number of items on first load should be of equal height with sidebar. Right now, the white space below the first ten items makes it look like the sidebar forced the page down, thus leaving white space. More power to the items (lol)

[2015-08-09 14:37] janbelmonte opened #45 "Add subtle border below category-item"

[2015-08-09 14:41] janbelmonte opened #46 "Fix width of Twitter embed"
@RIanDeLaCruz I'll try to see if I can tweak the regular Twitter embed but if you have time, kindly see if we can get a plugin that will allow us to use our own CSS and make it look more united with the rest of the website. Just post links to recommendations here. Thanks!

[2015-08-09 14:43] janbelmonte opened #47 "Change head format"
![screenshot 2015-08-09 22 42 41](https://cloud.githubusercontent.com/assets/9819894/9155354/03c67a62-3ee8-11e5-89d8-f4b1a8c5d53f.png)

[2015-08-09 14:44] janbelmonte opened #48 "Add new section descriptions from editors"

[2015-08-09 14:44] janbelmonte opened #49 "Fix p.copy font (should be Mercury)"

[2015-08-09 14:47] janbelmonte opened #50 "Comments area styling"
Check this article: http://dev.theguidon.com/2015/05/ateneo-hosts-14th-afc-monfort-football-festival/

There's a huge space between the end of the content and the comments area.

![screenshot 2015-08-09 22 45 57](https://cloud.githubusercontent.com/assets/9819894/9155375/77540350-3ee8-11e5-92c9-c6715ceaa427.png)

[2015-08-09 15:17] janbelmonte opened #51 "Add social media links to sidebar/footer"

[2015-08-09 15:19] janbelmonte opened #52 "Add publish date to article pages (below byline)"

[2015-08-09 15:20] janbelmonte opened #53 "Make section-labels on all pages clickable (should link to category pages)"
Note: No need to link sub-category

[2015-08-09 15:25] RIanDeLaCruz commented on #49
Wasn't this fixed before?

[2015-08-09 15:26] janbelmonte commented on #49
Kaya nga eh. Baka-naoverwrite in one of our updates?

[2015-08-09 15:29] RIanDeLaCruz commented on #44
This would load 15 on click ha

[2015-08-09 15:30] tekamoment opened #54 "Change "Chalkmarks" to "Chalk Marks""
The professor-written columns in the newspaper are listed as "Chalk Marks", not as "Chalkmarks".

<img width="264" alt="screen shot 2015-08-09 at 11 29 36 pm" src="https://cloud.githubusercontent.com/assets/765270/9155562/8525ba86-3eee-11e5-8d0e-62e0943b0ed9.png">
<img width="413" alt="screen shot 2015-08-09 at 11 29 30 pm" src="https://cloud.githubusercontent.com/assets/765270/9155563/8554c7cc-3e

[2015-08-09 15:30] RIanDeLaCruz commented on #50
Note to self: col-sm-9 div is to be moved from the partials to single.php to allow modification of where it is on the page

[2015-08-09 15:31] RIanDeLaCruz commented on #46
We can edit naman. Kindly see twitter-widget partial

[2015-08-09 15:32] janbelmonte opened #55 "Investigate these articles"
Update this list with any articles that have bugs or special cases:
Bug fixes for these will be done after EB testing.

- No content/sidebar http://dev.theguidon.com/2015/01/caricaturesofmanila/

[2015-08-09 15:33] janbelmonte opened #56 "Find way to adjust content subhead font"
On the newspaper, subheads are set in Univers Bold. Find a way to force this same format into the website.

[2015-08-09 15:34] RIanDeLaCruz commented on #46
Ok. Nevemind previous comment. I'll look around

[2015-08-09 15:35] RIanDeLaCruz commented on #42
@janbelmonte just figure out the best size per image. I'm always using full size in the code

[2015-08-09 15:35] tekamoment opened #57 "Cards break alignment at bigger resolutions"
Roughly after a width of >2000px the cards break the nice 3x2 grid alignment.
<img width="1790" alt="screen shot 2015-08-09 at 11 33 53 pm" src="https://cloud.githubusercontent.com/assets/765270/9155598/3982186c-3eef-11e5-8149-708bff93c374.png">

[2015-08-09 15:35] RIanDeLaCruz commented on #42
I'll edit it in the code

[2015-08-09 15:35] janbelmonte opened #58 "Remove huge space below comment area"
![screenshot 2015-08-09 23 34 41](https://cloud.githubusercontent.com/assets/9819894/9155601/4e0152bc-3eef-11e5-9bfb-08ac7933e715.png)

[2015-08-09 15:35] tekamoment commented on #57
This is on Chrome on Mac, btw.

[2015-08-09 15:37] RIanDeLaCruz opened #59 "Make banner title white"

[2015-08-09 15:37] tekamoment commented on #57
Surprisingly, issue does not replicate on Firefox on Mac.
<img width="1792" alt="screen shot 2015-08-09 at 11 36 54 pm" src="https://cloud.githubusercontent.com/assets/765270/9155612/8d346776-3eef-11e5-842c-ec5ad4d8be58.png">
Issue of vendor prefixes?

[2015-08-09 15:38] janbelmonte commented on #42
Yup, will still figure out ideal dimensions for:
- thumbnail (blurb images)
- medium (article content)
- large (fullscreen article layout)

Made an issue for this since I noticed that the category pages are loading slowly. The thumbnails are loading images bigger than 2000px pala, haha!

[2015-08-09 15:40] RIanDeLaCruz commented on #57
@tekamoment might be the lack of wrapper

[2015-08-09 15:40] janbelmonte commented on #57
Wow, nice catch. My suspicions are:
1) vendor prefixes
2) add <div class="row"> to maintain horizontal alignment.

Will investigate further. thanks!

[2015-08-09 15:41] tekamoment opened #60 "The GUIDON logo displaces at mobile browser widths"
Included are samples from Chrome and Firefox (both on Mac).

<img width="512" alt="screen shot 2015-08-09 at 11 38 25 pm" src="https://cloud.githubusercontent.com/assets/765270/9155622/e3ef0814-3eef-11e5-9d3a-cd2e10bb60d7.png">
<img width="447" alt="screen shot 2015-08-09 at 11 38 22 pm" src="https://cloud.githubusercontent.com/assets/765270/9155621/e3ed7760-3eef-11e5-840a-c76d7c41a666.png">

(Can

[2015-08-09 15:42] janbelmonte commented on #57
@RIanDeLaCruz @tekamoment

Well the first image is too big so it's pushing down the card below it. The Beyond Loyola card is pulled up since the Sports card is too small. Not sure what happened to Inquiry.

Most likely related to #41

[2015-08-09 15:43] RIanDeLaCruz commented on #57
I've also encountered this on a smaller screen, Chrome on Ubuntu but not in Firefox

[2015-08-09 15:44] janbelmonte commented on #54
Is it really? Omg, I don't remember. Well, this'll just be edited in the WP categories. Reassigning to me.

[2015-08-09 15:44] tekamoment commented on #54
@janbelmonte Noted!

[2015-08-09 15:45] RIanDeLaCruz commented on #57
Based on the his screenshot, this and issue 41 are the same. Notice the misaligned heights

[2015-08-09 15:46] janbelmonte commented on #44
Yes please, @RIanDeLaCruz ty ty

[2015-08-09 15:47] janbelmonte commented on #57
Damn dat Ubuntu shit. Will fix to avoid any disappointment from the CS community. HAHA

[2015-08-09 15:48] tekamoment opened #61 "Search bar expands too much at smaller browser widths"
For both regular desktop:
<img width="1250" alt="screen shot 2015-08-09 at 11 47 48 pm" src="https://cloud.githubusercontent.com/assets/765270/9155653/1e8271e0-3ef1-11e5-8e47-782f757b9e72.png">
and mobile:
<img width="389" alt="screen shot 2015-08-09 at 11 46 06 pm" src="https://cloud.githubusercontent.com/assets/765270/9155651/ec2c8e42-3ef0-11e5-8d40-bba3063d7c64.png">

Picture included shows Chr

[2015-08-09 15:49] janbelmonte commented on #60
@tekamoment our media queries take device width so if you simulate it by decreasing browser size, it won't /super/ work. Nevertheless, I'll try to solve this pa rin. Try to check on actual mobile devices :) TY!

[2015-08-09 15:49] janbelmonte commented on #59
sorry world, will fix dis

[2015-08-09 15:51] janbelmonte commented on #61
@RIanDeLaCruz oh my, #37 is back. DUN DUNNN

[2015-08-09 15:51] tekamoment commented on #58
Interesting thing about this bug: the white space *scales* with the browser width! Bigger browser width = bigger space. The space is eliminated once we get closer to mobile width.

Compare these two images:
<img width="1257" alt="screen shot 2015-08-09 at 11 51 00 pm" src="https://cloud.githubusercontent.com/assets/765270/9155655/86670172-3ef1-11e5-8272-52bafce42cd4.png">
and
<img width="1792" alt

[2015-08-09 15:53] janbelmonte commented on #58
I'm guessing, the content area gets squished and the text gets pushed down? Is the div of the comment area below both the content and sidebar areas, @RIanDeLaCruz ? Probably related to #50

[2015-08-09 15:54] tekamoment opened #62 "Benny's byline search comes up with no results"
Issue with the ñ?

<img width="1792" alt="screen shot 2015-08-09 at 11 54 37 pm" src="https://cloud.githubusercontent.com/assets/765270/9155682/00c05766-3ef2-11e5-998b-00db80c8280e.png">

[2015-08-09 15:55] janbelmonte commented on #62
ooohhh shiiiiiittt

[2015-08-09 15:57] janbelmonte commented on #62
Weird. His name is spelled correctly sa Guest Authors. There are 19 articles attributed to him.

![screenshot 2015-08-09 23 57 02](https://cloud.githubusercontent.com/assets/9819894/9155697/669b39f2-3ef2-11e5-93fa-a4fd4445a87e.png)

[2015-08-09 15:58] tekamoment commented on #62
Hmm. I guess the issue is caused by having his ñ change to an n? That's how it appears in the URL.

[2015-08-09 16:00] janbelmonte commented on #62
Merp, that's also the slug registered on the system so there shouldn't be a mismatch.

![screenshot 2015-08-10 00 00 13](https://cloud.githubusercontent.com/assets/9819894/9155704/dea0b77e-3ef2-11e5-8852-65a1554061bc.png)

[2015-08-09 16:35] tekamoment opened #63 "Change end of search copy"
"Sorry, we can't find anything with those keywords." shows up at the end of author searches.
<img width="899" alt="screen shot 2015-08-10 at 12 34 30 am" src="https://cloud.githubusercontent.com/assets/765270/9155817/aaade36a-3ef7-11e5-84e8-97a968f9a9f2.png">
We could probably go with something friendlier?

[2015-08-09 20:48] janbelmonte commented on #63
@RIanDeLaCruz this message should only be shown if there are 0 search results. If there are a few search results, there shouldn't be any message under. Please remove it from the end of author profile pages also.

@tekamoment Can you suggest different copy for this one? It should only be for when there are no search results at all.

[2015-08-09 22:01] RIanDeLaCruz commented on #63
@janbelmonte I'll edit the plugin.

[2015-08-10 01:05] tekamoment commented on #63
"This author has not written any articles yet."
^?

[2015-08-10 03:48] janbelmonte commented on #63
@tekamoment If the author hasn't written anything yet then he/she wouldn't have a page, therefore 404. So no message. I think we can only put such a message on search results for keywords. Unless you tried to search for a name on the search bar? And there weren't any articles that mentioned that name? Cause I don't think we have a way to determine names from regular words if we want the search bar

[2015-08-10 03:53] RIanDeLaCruz opened #64 "Search page images and body copy do not align when window is resized"
![image](https://cloud.githubusercontent.com/assets/7766185/9159174/549276ee-3f56-11e5-8225-daff26899c80.png)

[2015-08-10 03:53] RIanDeLaCruz opened #65 "Search page images and body copy do not align when window is resized"
![image](https://cloud.githubusercontent.com/assets/7766185/9159174/549276ee-3f56-11e5-8225-daff26899c80.png)

[2015-08-10 03:54] #65 closed

[2015-08-10 05:19] RIanDeLaCruz commented on #50
@janbelmonte please do just fix the style of this. I've changed it in the dev site.

[2015-08-10 09:44] janbelmonte commented on #50
Will do once I get home.

On Mon, Aug 10, 2015 at 1:19 PM, Ian De La Cruz <notifications@github.com>
wrote:

--
*Jan-Daniel S. Belmonte*
Graphic Designer
Quality Assurance Analyst, Rappler

(+63) 917 860 5870
www.janbelmonte.com

[2015-08-10 11:15] RIanDeLaCruz commented on #44
It's been implemented already. I'll just push in a few.

[2015-08-10 11:15] #44 closed

[2015-08-10 12:04] RIanDeLaCruz commented on #52
format please

[2015-08-10 12:33] RIanDeLaCruz commented on #46
https://github.com/twitter/wordpress

It's the official Twitter Plugin

[2015-08-10 12:35] RIanDeLaCruz commented on #58
I've fixed this already. If you aren't happy with it, just re-open this. Thanks. @janbelmonte @tekamoment

[2015-08-10 12:35] #58 closed

[2015-08-10 12:37] RIanDeLaCruz commented on #43
format please @janbelmonte

[2015-08-10 14:00] RIanDeLaCruz commented on #62
See commit related to this. Closing

[2015-08-10 14:04] RIanDeLaCruz commented on #62
Kindly close when you've seen it fixed. Please see commit log about this issue

[2015-08-10 16:28] janbelmonte commented on #52
@RIanDeLaCruz
Month Day, Year
May 11, 2015

Example combined with byline:
By Joff D. Bantayan<br>
Published 4:25 PM, May 11, 2015

[2015-08-10 16:29] janbelmonte commented on #43
Oops, duplicate pala yung isa. Please see #52

[2015-08-10 16:29] #46 closed

[2015-08-10 20:54] #59 closed

[2015-08-10 20:55] janbelmonte opened #66 "Banner title is not clickable"

[2015-08-10 20:59] #50 closed

[2015-08-10 21:00] #49 closed

[2015-08-10 21:11] #45 closed

[2015-08-10 21:13] #38 closed

[2015-08-10 21:19] janbelmonte commented on #52
Update:
Let's make it consistent with our comments box.

Example:
By Your Mom
Published March 13, 2015 at 2:49 PM"

[2015-08-10 21:41] janbelmonte commented on #41
Can you do this for me na lang? I can't edit the blurb.php cause I might mess it up. Please add a div that will contain the blurb image

- div height should be 190px
- image width = 100%
- overflow: hidden;
- center the image vertically and horizontally inside the div

[2015-08-10 21:41] janbelmonte commented on #41
@RIanDeLaCruz ^

[2015-08-10 21:41] #60 closed

[2015-08-10 21:42] janbelmonte commented on #57
Closing since this is a duplicate of #41. Suggested fix is indicated there.

[2015-08-10 21:42] #57 closed

[2015-08-10 21:44] RIanDeLaCruz commented on #66
I'm finding this weird. According to the stacking order, it should be clickable.

![2015-08-11-054347_1366x768_scrot](https://cloud.githubusercontent.com/assets/7766185/9185115/0c5e5c12-3fec-11e5-99b5-4351fe2d6734.png)

[2015-08-10 21:49] janbelmonte opened #67 "Add share buttons"
Please add it in between the byline/date and the feature-image
- for article-fullscreen, put it in between the section-label and the top of the content

Criteria for share buttons
- should have at least Facebook, Twitter, Email
- should show number of shares
- should be customizable (css)

Assign me to this issue once it's my turn to style.

[2015-08-10 21:50] janbelmonte commented on #66
Wow, sa Firefox dev tools ba to haha. Looks like it is...that's so weird

[2015-08-10 21:52] janbelmonte commented on #56
Can only be solved properly by giving staffers/editors a style guide that they should follow when uploading articles.

[2015-08-10 21:52] #56 closed

[2015-08-10 22:02] RIanDeLaCruz commented on #66
Yup! Firefox Dev Tools. Don't remember if this is available in Chrome

What's weird?

[2015-08-10 22:05] janbelmonte commented on #66
Weird that it's properly stacked but behavior is wrong

[2015-08-10 22:08] RIanDeLaCruz commented on #66
I'll just look it up. Last time I checked, the margin is the only part that's clickable. Try to find it by extending the anchor tag nested in the h1 to full width

[2015-08-11 12:17] RIanDeLaCruz commented on #61
Nawala yung calc function

[2015-08-11 12:19] RIanDeLaCruz commented on #61
Kasama pala ito dun sa moments na na override yung gawa ko at gawa mo

[2015-08-11 12:29] #62 closed

[2015-08-11 12:29] #61 closed

[2015-08-11 12:41] #53 closed

[2015-08-11 12:53] #52 closed

[2015-08-11 12:53] #43 closed

[2015-08-11 12:54] RIanDeLaCruz commented on #41
Noted

[2015-08-11 13:07] RIanDeLaCruz commented on #41
Already fixed it. Referenced Issue #57 in the commit

[2015-08-11 13:07] #41 closed

[2015-08-11 13:08] RIanDeLaCruz commented on #63
@tekamoment @janbelmonte What's the final verdict on this, until further notice?

[2015-08-11 13:09] RIanDeLaCruz commented on #67
Isn't share buttons provided by a plugin or integration with the platforms?

[2015-08-11 13:42] RIanDeLaCruz commented on #67
You are looking for a CSS Customizable share button, @janbelmonte ? Share buttons use images

[2015-08-11 14:01] RIanDeLaCruz commented on #67
FB Share requires a FB Developer Account. It'd be better if this account was a GUIDON one.

Twitter can be used from the plugin, or encoded into the template

[2015-08-11 14:02] RIanDeLaCruz commented on #67
http://stackoverflow.com/questions/22037021/custom-facebook-share-button
http://wordpress.stackexchange.com/questions/152097/facebook-share-functionality-in-wordpress-loop

Posting just for FB Reference

[2015-08-11 14:05] RIanDeLaCruz commented on #67
https://dev.twitter.com/web/tweet-button (For custom Tweet button)

[2015-08-11 14:12] RIanDeLaCruz commented on #67
http://stackoverflow.com/questions/22037021/custom-facebook-share-button

[2015-08-11 14:12] RIanDeLaCruz commented on #67
http://wordpress.stackexchange.com/questions/152097/facebook-share-functionality-in-wordpress-loop

[2015-08-11 14:23] janbelmonte commented on #67
@RIanDeLaCruz yup, i was hoping we could get rid of the image and create our own button out of css

[2015-08-11 14:25] janbelmonte commented on #63
@RIanDeLaCruz For now, just make sue the message doesn't appear in pages other than a 0 results page. If you've applied a fix for this already, tell me and I'll close the comment after testing

[2015-08-11 14:28] janbelmonte opened #68 "Fix color of section-label links"

[2015-08-11 14:30] janbelmonte commented on #62
@RIanDeLaCruz how did you fix this one?

[2015-08-11 14:32] janbelmonte commented on #66
@RIanDeLaCruz all links except banner link are working for me

[2015-08-11 14:35] RIanDeLaCruz commented on #66
Yun lang naman talaga ang hindi gumagana

[2015-08-11 14:37] janbelmonte commented on #66
but but what did you mean by this
![screenshot 2015-08-11 22 36 23](https://cloud.githubusercontent.com/assets/9819894/9200234/7c350896-4079-11e5-83eb-b45f23344eae.png)

[2015-08-11 14:37] RIanDeLaCruz commented on #67
I've found a plugin that can supposedly do it.

[2015-08-11 14:38] RIanDeLaCruz commented on #66
That was just to be the link. Without the s

[2015-08-11 14:38] janbelmonte commented on #66
Oh okay haha

[2015-08-11 14:39] RIanDeLaCruz commented on #63
I think I've done this one already

[2015-08-11 14:43] tekamoment commented on #62
@RIanDeLaCruz  seconded. I know it's about the ñ, but curious as to how it was fixed (and what caused the problem in the first place).

[2015-08-11 14:46] RIanDeLaCruz commented on #62
content://media/external/file/79012

I've changed this part of the query. So, instead of the ñ appearing in the query for Benny, the nice name is used, which, I think, is similar to the slug

[2015-08-11 14:46] #63 closed

[2015-08-11 14:47] RIanDeLaCruz commented on #62
Uhm, kindly see na the commit. The code change is there. I'm on mobile na lang.

[2015-08-11 14:47] janbelmonte commented on #67
@RIanDeLaCruz alright, just @ me once you've applied it

[2015-08-11 14:48] RIanDeLaCruz commented on #62
![screenshot_2015-08-11-22-45-17](https://cloud.githubusercontent.com/assets/7766185/9200574/0d1cf80e-407b-11e5-8a8f-d6b979b3fa74.png)
Here.

[2015-08-11 14:49] janbelmonte commented on #62
Oh okay, got it. Nicely done.

[2015-08-11 14:49] RIanDeLaCruz commented on #67
But it's not css. We could just change the images.

[2015-08-11 14:50] janbelmonte commented on #67
@RIanDeLaCruz that's ayt

[2015-08-11 14:51] RIanDeLaCruz commented on #67
Ok.

[2015-08-11 14:56] janbelmonte opened #69 "Add Multimedia section to homepage"

[2015-08-11 15:01] RIanDeLaCruz commented on #69
I keep on forgetting this. I've already looked at some ways on how to do it.

Question though. Will this be a pulling of videos from the account itself or will it be posts that have videos in them

[2015-08-11 15:05] janbelmonte commented on #69
It can be either. Here are our options in order of idealism:
1. Use a plugin to pull latest 8 (? check prototype) videos directly from The GUIDON YouTube account and just display links/embed
2. Display links to all latest article pages that have video embeds (which we already have, but very few. we can just publish old videos in their own pages and use the original date)
3. Create 8 fields where S

[2015-08-11 15:09] RIanDeLaCruz commented on #69
Noted

[2015-08-11 17:54] janbelmonte opened #70 "Create styles for Wordpress visual editor"
Not a priority for first release

[2015-08-11 18:03] #64 closed

[2015-08-11 18:03] #68 closed

[2015-08-11 18:06] janbelmonte opened #71 "Implement About page on dev"

[2015-08-12 05:41] #71 closed

[2015-08-12 08:58] RIanDeLaCruz commented on #69
So far, I've added 10. I've also added the generated class of each to the main-new.css file.

Just a little more styling on my side.

If you like, you could just see the changes.

[2015-08-12 08:59] RIanDeLaCruz commented on #69
Used this: https://wordpress.org/plugins/youtube-channel/

[2015-08-12 09:28] janbelmonte commented on #69
So this populates on its own na 'no?

On Wed, Aug 12, 2015 at 4:59 PM, Ian De La Cruz <notifications@github.com>
wrote:

--
*Jan-Daniel S. Belmonte*
Graphic Designer
Quality Assurance Analyst, Rappler

(+63) 917 860 5870
www.janbelmonte.com

[2015-08-12 10:21] RIanDeLaCruz commented on #69
Yup

[2015-08-12 13:01] RIanDeLaCruz commented on #67
I've added this plugin @janbelmonte

https://wordpress.org/plugins/simple-share-buttons-adder/

You can edit styles and images.

[2015-08-12 13:05] RIanDeLaCruz commented on #67
You could completely disable the given css and use your own.

[2015-08-12 13:06] RIanDeLaCruz commented on #69
@janbelmonte There is a style issue with the multimedia box.

Also, what happens when someone clicks see all

[2015-08-12 14:22] janbelmonte commented on #69
@RIanDeLaCruz what style issue? can you make an issue for it haha

When view all is clicked, _blank to The GUIDON channel page

[2015-08-12 14:22] janbelmonte commented on #67
@RIanDeLaCruz has this been implemented on DEV?

[2015-08-12 14:26] RIanDeLaCruz commented on #67
Yes it is implemented

[2015-08-12 14:26] janbelmonte opened #72 "Clicking view all button beside Opinion brings user to Chalkmarks sub-category"
Applies to:
- Homepage
- Sidebar

[2015-08-12 14:31] janbelmonte commented on #67
Okay, I'll style.

[2015-08-12 14:48] #67 closed

[2015-08-12 15:10] janbelmonte opened #73 "Remove SSBA comment, or remove <p> tags so that it doesn't push share buttons down"
<p class="copy">

</p>

![screenshot 2015-08-12 23 08 26](https://cloud.githubusercontent.com/assets/9819894/9227630/2a00219a-4147-11e5-9feb-c0897ebf4c69.png)

[2015-08-12 21:57] RIanDeLaCruz commented on #73
@janbelmonte this happened after your style or before?

[2015-08-13 00:21] janbelmonte commented on #73
I don't think my styles could've created a new paragraph, haha. It's before pa.

[2015-08-13 00:48] RIanDeLaCruz commented on #73
I mean the pushing down thing. Gumagana siya sa akin eh. @janbelmonte

[2015-08-13 00:56] RIanDeLaCruz commented on #73
Didn't need to remove the copy. Just edited the necessary style @janbelmonte

Kindly check it now. Thanks.

[2015-08-13 00:59] RIanDeLaCruz commented on #69
![image](https://cloud.githubusercontent.com/assets/7766185/9240491/9557e3b8-4199-11e5-90b1-e6a011e853f5.png)

The multimedia scrollbar is hidden under the footer

[2015-08-13 01:03] janbelmonte commented on #69
Hmm that's not what I was trying to do though. Sige ganyan na lang muna.

[2015-08-13 01:04] janbelmonte commented on #73
Hmm that's not what I was trying to do though. Sige ganyan na lang muna.

[2015-08-13 01:04] #73 closed

[2015-08-13 01:04] janbelmonte commented on #69
Got it, will fix later.

[2015-08-13 01:29] RIanDeLaCruz commented on #69
ok

[2015-08-13 04:34] #72 closed

[2015-08-13 04:55] tekamoment commented on #48
Final descriptions:

**News**
News chronicles the pressing issues and events that involve the Ateneo. The section aims to record stories as they happen, and inform the Ateneo community through accurate and timely articles.

**Sports**
The GUIDON Sports highlights the Ateneo athletes who have devoted themselves to  their disciplines to represent the Blue and White. The section undertakes the same a

[2015-08-13 05:02] janbelmonte commented on #48
Awesome. Thanks!

[2015-08-13 05:02] tekamoment commented on #48
:+1:

[2015-08-13 05:07] #48 closed

[2015-08-13 11:45] #69 closed

[2015-08-14 07:03] RIanDeLaCruz commented on #66
What are we going to do with this @janbelmonte

[2015-08-15 05:44] janbelmonte commented on #66
@RIanDeLaCruz Didn't this only happen after you tried to make the whole image clickable? Try removing the div that you added muna and let's leave the title as link?

[2015-08-15 05:52] janbelmonte opened #74 "Remove extra space in multimedia area"
![screenshot 2015-08-15 13 51 34](https://cloud.githubusercontent.com/assets/9819894/9287694/e4cf7d22-4354-11e5-8e11-f314edead1c0.png)

[2015-08-15 06:03] RIanDeLaCruz commented on #66
It's always been like this. I've already removed everything I added to it.

[2015-08-15 06:04] janbelmonte commented on #66
UY ano ka. Gumagana yan dati ah. HAHA

[2015-08-15 06:04] janbelmonte commented on #66
I'll look through the styles na rin to see what's going on T_T

[2015-08-15 06:06] RIanDeLaCruz commented on #66
Hindi nga siya gumagana sa prototype eh.

[2015-08-15 06:06] janbelmonte commented on #66
pakyu!!!

HAHAJK sorry, i'll check it out
#professional

[2015-08-15 06:09] janbelmonte opened #75 "Finalize About page"

[2015-08-15 06:09] janbelmonte commented on #75
http://dev.theguidon.com/about

[2015-08-15 06:14] tekamoment opened #76 "Share buttons on articles are too big"
Self-explanatory.

<img width="721" alt="screen shot 2015-08-15 at 2 12 44 pm" src="https://cloud.githubusercontent.com/assets/765270/9287738/f1c67dac-4357-11e5-82ea-9bf47c6b62fe.png">

[2015-08-15 06:17] janbelmonte opened #77 "Please change placement of publish date"
Make it like this:
![screenshot 2015-08-15 14 16 33](https://cloud.githubusercontent.com/assets/9819894/9287742/4b5222e0-4358-11e5-946b-40df03116060.png)

[2015-08-15 10:27] RIanDeLaCruz commented on #77
Ok.

[2015-08-15 10:30] RIanDeLaCruz commented on #76
This is desktop, yes?

[2015-08-15 15:28] tekamoment commented on #76
@RIanDeLaCruz Yes, desktop.

[2015-08-16 03:30] RIanDeLaCruz commented on #76
Fixed. It was just a setting in the plugin.

The size was caused by the disabling of the default styles.

[2015-08-16 03:30] #76 closed

[2015-08-16 03:34] #77 closed

[2015-08-16 11:58] janbelmonte opened #78 "Add field for Issue label alongside p.content-meta"
Add field that will indicate which print issue the article comes from

For example:
By Juan dela Cruz • Published 06 June 2015 • June 2015 Print Issue

[2015-08-16 12:59] #66 closed

[2015-08-16 13:02] RIanDeLaCruz commented on #74
currently fixing this

[2015-08-16 13:34] #74 closed

[2015-08-16 13:53] #39 closed

[2015-08-16 14:52] #70 closed

[2015-08-18 12:07] RIanDeLaCruz opened #79 "Date Published mismatch"
Certain articles are shown to be published nearly a month before it really is

[2015-08-18 12:10] RIanDeLaCruz opened #80 "Make pullout title box more transparent"
An issue raised by Alexis is that certain photos have their focus in the center of the image. By having an opaque title box, the image will not be seen

![2015-08-18-210806_1366x768_scrot](https://cloud.githubusercontent.com/assets/7766185/9330651/4ff3dba8-45ed-11e5-97e8-ce57e63fe9fb.png)

[2015-08-18 12:16] RIanDeLaCruz commented on #80
I've already asked if putting a full image filter could work, Alexis was not into that idea. Having a less opaque image would work better,in her opinion

[2015-08-18 12:53] RIanDeLaCruz commented on #79
Now uploaded.

[2015-08-18 12:53] #79 closed

[2015-08-18 13:10] RIanDeLaCruz opened #81 "Make Blurb Images clickable"

[2015-08-19 01:41] janbelmonte commented on #80
For this, actually i'll be adding position classes for the center-title so
you can move it around per article. No need to change opacity cause it
looks tacky.

On Tuesday, August 18, 2015, Ian De La Cruz <notifications@github.com>
wrote:

--
Sent from Mobile

Jan-Daniel S. Belmonte
Graphic Designer

(+63) 917 860 5870
www.janbelmonte.com

[2015-08-19 01:47] RIanDeLaCruz commented on #80
One question about that, though.

How do you propose that we change position? Extra fields?

[2015-08-19 07:09] janbelmonte commented on #80
Related to what I said previously, we'll be using a custom css plugin for
all pages, so they can just customize the center-title class for each
article. We'll list down the options in the technical documentation for
styles and templates.

On Wednesday, August 19, 2015, Ian De La Cruz <notifications@github.com>
wrote:

--
Sent from Mobile

Jan-Daniel S. Belmonte
Graphic Designer

(+63) 917 860 5870

[2015-08-19 07:12] RIanDeLaCruz commented on #80
You've found a plug-in or we're gonna make one?

[2015-08-19 09:13] janbelmonte commented on #80
I have one that I used for my client project.

On Wednesday, August 19, 2015, Ian De La Cruz <notifications@github.com>
wrote:

--
Sent from Mobile

Jan-Daniel S. Belmonte
Graphic Designer

(+63) 917 860 5870
www.janbelmonte.com

[2015-08-19 09:16] RIanDeLaCruz commented on #80
Ok. That's great!

[2015-08-20 04:04] janbelmonte opened #82 ""Next story" button"
Options:
- Next story is latest of same section
- Next story is latest of The GUIDON

[2015-08-20 04:05] janbelmonte opened #83 "Related articles sidebar"
Display related articles based on tags

[2015-08-20 05:20] janbelmonte opened #84 "Connect repo to Wordfence/Sucuri"

[2015-08-21 02:18] janbelmonte opened #85 "Shortcodes are not working on new theme"

[2015-08-23 11:34] RIanDeLaCruz commented on #85
@janbelmonte what article has this, again?

[2015-08-23 14:09] janbelmonte commented on #85
Not happening anymore. Remember to reopen if issue resurfaces.

[2015-08-23 14:09] #85 closed

[2015-08-24 10:42] RIanDeLaCruz commented on #83
@janbelmonte can you provide a prototype for this?

[2015-08-24 11:08] RIanDeLaCruz commented on #47
What will be the head format

[2015-08-24 15:06] janbelmonte commented on #83
Will do within the week. Hustlin' at work at the moment.

On Mon, Aug 24, 2015 at 6:42 PM, Ian De La Cruz <notifications@github.com>
wrote:

--
*Jan-Daniel S. Belmonte*
Graphic Designer
Quality Assurance Analyst, Rappler

(+63) 917 860 5870
www.janbelmonte.com

[2015-08-24 15:08] janbelmonte commented on #47
Home — The GUIDON
Beyond Loyola — The GUIDON
etc etc

[2015-08-24 15:09] RIanDeLaCruz commented on #47
Ok. Thanks @janbelmonte

[2015-08-26 09:41] RIanDeLaCruz opened #86 "Logo jumps down on small screens."
Logo goes down on screen width < 210

[2015-08-26 09:43] janbelmonte commented on #86
Yuck who reported this?

On Wednesday, August 26, 2015, Ian De La Cruz <notifications@github.com>
wrote:

--
Sent from Mobile

Jan-Daniel S. Belmonte
Graphic Designer

(+63) 917 860 5870
www.janbelmonte.com

[2015-08-26 09:45] RIanDeLaCruz commented on #86
My friend. Tried it on a smaller phone.

[2015-08-26 09:50] RIanDeLaCruz commented on #86
![image](https://cloud.githubusercontent.com/assets/7766185/9490483/cab67714-4c1a-11e5-8e56-e27bb01f1909.png)

[2015-08-26 09:51] RIanDeLaCruz commented on #86
content://media/external/file/86910

[2015-08-26 09:52] janbelmonte commented on #86
Got it. I'll fix.

On Wednesday, August 26, 2015, Ian De La Cruz <notifications@github.com>
wrote:

--
Sent from Mobile

Jan-Daniel S. Belmonte
Graphic Designer

(+63) 917 860 5870
www.janbelmonte.com

[2015-08-26 09:52] RIanDeLaCruz commented on #86
![20150826_165904](https://cloud.githubusercontent.com/assets/7766185/9490561/2d1d2628-4c1b-11e5-89e6-d327008fc0e6.jpg)

[2015-08-26 09:53] RIanDeLaCruz commented on #86
@janbelmonte another issue is  the spacing in the blurbs on mobile.

[2015-08-26 09:53] janbelmonte commented on #86
Ok just create new issues as necessary

On Wednesday, August 26, 2015, Ian De La Cruz <notifications@github.com>
wrote:

--
Sent from Mobile

Jan-Daniel S. Belmonte
Graphic Designer

(+63) 917 860 5870
www.janbelmonte.com

[2015-08-26 09:54] RIanDeLaCruz commented on #86
But I'll fix that one na lang pala.

It's just a small change. I'll fix it na lang

[2015-08-26 10:22] RIanDeLaCruz opened #87 "Too much space between blurb image and title"
![image](https://cloud.githubusercontent.com/assets/7766185/9491120/5491d178-4c1f-11e5-8328-bbf72594b8a9.png)

[2015-08-26 10:29] RIanDeLaCruz commented on #87
Issue seems to appear on non-iOS devices only.

Emulated iOS on Chrome appears ok.

![image](https://cloud.githubusercontent.com/assets/7766185/9491282/650dad78-4c20-11e5-8ce2-6fe85ea10fc7.png)

[2015-08-26 10:34] RIanDeLaCruz opened #88 "Banner title is difficult to read after the banner image is centered properly"
The image, before adding 'background-position: center', was not centered. Only the left side was showing.

I added the new style inline. Now, this happened.

![image](https://cloud.githubusercontent.com/assets/7766185/9491368/fe4f5eaa-4c20-11e5-9c42-ec2ae33245f7.png)

Permission to make the the gradient a full-gradient to make it readable.

[2015-08-26 10:34] RIanDeLaCruz commented on #88
@janbelmonte

[2015-08-26 14:18] tekamoment opened #89 "<title> in <head> is different from the author in author's page"
For example, author is Gian Y. Go, page title says "The GUIDON | Patrick Balisong"

<img width="1063" alt="screen shot 2015-08-26 at 10 10 17 pm" src="https://cloud.githubusercontent.com/assets/765270/9495883/44e3c8a0-4c40-11e5-8a79-156959857a84.png">
<img width="948" alt="screen shot 2015-08-26 at 10 12 03 pm" src="https://cloud.githubusercontent.com/assets/765270/9495885/450e9756-4c40-11e5-9c53-

[2015-08-27 02:32] RIanDeLaCruz commented on #87
![image](https://cloud.githubusercontent.com/assets/7766185/9511228/ecda24f8-4ca6-11e5-96c5-30250112ccf7.png)

[2015-08-27 06:07] #87 closed

[2015-08-27 13:03] janbelmonte opened #90 "Address W3C Validation Errors"
From: http://nibbler.silktide.com/en_US/reports/www.theguidon.com

List of errors:
https://docs.google.com/spreadsheets/d/1sA6ck9vv-qNSMqFwIgjQgdWtFTTrx6tm-zPQBZeuiuo/edit#gid=0

[2015-08-27 13:07] janbelmonte opened #91 "Connect domain to The GUIDON Facebook page"

[2015-08-27 13:07] janbelmonte commented on #90
@RIanDeLaCruz assigning you, but consider this a shared task. I'll try to take on it also over the weekend.

[2015-08-28 15:14] #86 closed

[2015-08-29 01:19] janbelmonte commented on #42
Changed sizes to:
- Thumbnail: 400 px
- Medium: 800 px
- Large: 1400 px

Will rerender all images later, just have to back files up.

[2015-08-29 02:46] #47 closed

[2015-08-29 03:07] RIanDeLaCruz opened #92 "Beyond Loyola pushes View All on medium screens"
![screen shot 2015-08-29 at 11 06 18](https://cloud.githubusercontent.com/assets/7766185/9560281/155c7370-4e3e-11e5-9cc2-8b4b80f5b48d.png)

[2015-08-29 03:07] janbelmonte opened #93 "Guest author page <title> does not match with guest author name"
![screen shot 2015-08-29 at 11 06 33 am](https://cloud.githubusercontent.com/assets/9819894/9560283/2a8ea326-4e3e-11e5-8627-11d8067cf812.png)

[2015-08-29 03:08] RIanDeLaCruz commented on #93
Fixed this one already. Will be uploading to the main site already. Please see Dev site for the latest builds

[2015-08-29 03:09] RIanDeLaCruz commented on #93
This is also a duplicate of #89

[2015-08-29 03:10] janbelmonte commented on #93
Woops, closing this. Thanks @RIanDeLaCruz

[2015-08-29 03:10] #93 closed

[2015-08-29 03:11] #89 closed

[2015-08-29 03:28] RIanDeLaCruz commented on #88
@janbelmonte I'll just make it a full gradient

[2015-08-29 03:32] #91 closed

[2015-08-29 03:52] janbelmonte commented on #84
Not possible unless we put up our them in the wordpress public theme repository. NO THANK YOU. Haha

[2015-08-29 03:52] #84 closed

[2015-08-29 04:12] janbelmonte opened #94 "Author credentials do not appear if Biographical Info field is blank"
Both fields should be visible on the author page if either one is empty

[2015-08-29 04:20] #54 closed

[2015-08-29 04:24] #94 closed

[2015-08-29 07:59] #78 closed

[2015-08-29 08:25] RIanDeLaCruz commented on #82
I can make this post newer than the current post. Is this acceptable?

[2015-08-29 09:28] janbelmonte commented on #82
@RIanDeLaCruz yes, sure

[2015-08-29 09:29] janbelmonte commented on #78
@RIanDeLaCruz where can I find the input field for this?

[2015-08-29 09:29] RIanDeLaCruz commented on #78
It's in the post editor.

Dev site

[2015-08-29 09:33] janbelmonte commented on #88
@RIanDeLaCruz full gradient for mobile or for all?

[2015-08-29 09:35] RIanDeLaCruz commented on #88
for banner lang

[2015-08-29 09:53] janbelmonte commented on #78
Saw it. Awesome!

[2015-08-29 09:53] janbelmonte commented on #88
@RIanDeLaCruz go ahead

[2015-08-29 10:06] RIanDeLaCruz commented on #82
What do you think of showing the title of the next article?

[2015-08-29 11:37] janbelmonte opened #95 "Change content-meta copy"

[2015-08-29 11:39] janbelmonte commented on #42
@RIanDeLaCruz You can change assigned images now.

Thumbnails - thumbnail size
NSO story banner image - medium
Pullout (full screen) banner image - large

Close this once you're done. Thanks.

[2015-08-29 11:44] janbelmonte commented on #92
emotions: BV!!!!
logic: "finding a fix now. thanks for this"

[2015-08-29 11:45] janbelmonte commented on #92
@RIanDeLaCruz did you use an iPad for this? our media queries detect device-width not screen-width

[2015-08-29 11:52] RIanDeLaCruz commented on #92
Not an iPad

[2015-08-29 11:57] #42 closed

[2015-08-29 12:07] janbelmonte commented on #51
Fixed by 44cb1cbcd38c1cffd4c0fcc7528d72f188639ca5

[2015-08-29 12:08] #51 closed

[2015-08-29 14:08] tekamoment opened #96 "Home page breaks layout at different browser widths"
This problem returneth.

<img width="881" alt="screen shot 2015-08-29 at 10 06 57 pm" src="https://cloud.githubusercontent.com/assets/765270/9562265/603fb5bc-4e9a-11e5-9aa2-f6d1c3e7c294.png">
<img width="1009" alt="screen shot 2015-08-29 at 10 06 45 pm" src="https://cloud.githubusercontent.com/assets/765270/9562262/5f97d680-4e9a-11e5-980a-7e9c4d6aa68b.png">
<img width="1223" alt="screen shot 2015-

[2015-08-29 14:25] janbelmonte commented on #96
Fixed on desktop.
- Ian to add specific char limit to headlines (40 chars).

[2015-08-29 14:25] janbelmonte commented on #92
@tekamoment can you check this out on an iPad please? :)

[2015-08-29 14:48] janbelmonte commented on #80
@RIanDeLaCruz my final decision for this is to move the title and content-meta to the content area, the same as in regular NSO articles. Realized that it will really block a lot of the images' focal points and that putting custom css on all pages would be tedious for your staff. Kindly take care of this. Thanks!

[2015-08-29 14:50] janbelmonte commented on #80
I'll try to work on this myself for the meantime to lessen your load

[2015-08-29 14:59] RIanDeLaCruz commented on #96
question about this.

When will the character limit be implemented? Or is it for all

[2015-08-29 15:09] RIanDeLaCruz commented on #92
Yep. This exists on my mini

[2015-08-29 15:34] #80 closed

[2015-08-29 15:45] #95 closed

[2015-08-29 16:14] #88 closed

[2015-08-29 16:17] #96 closed

[2015-08-29 17:06] #82 closed

[2015-08-29 17:19] #92 closed

[2015-08-29 23:51] RIanDeLaCruz opened #97 "Embedded images in articles break the layout in mobile"
![Uploading Screenshot_2015-08-30-07-44-44.png…]

This is taken from the  walrus article

[2015-08-30 02:07] RIanDeLaCruz commented on #97
![screenshot_2015-08-30-07-44-44](https://cloud.githubusercontent.com/assets/7766185/9565386/d1103672-4efe-11e5-8c7b-30fd6b659e97.png)

[2015-08-30 02:33] RIanDeLaCruz opened #98 "Category tile is too close to the header"
![screenshot_2015-08-30-10-31-38](https://cloud.githubusercontent.com/assets/7766185/9565451/a6483828-4f02-11e5-99db-bd53d2dd8750.png)

[2015-08-30 02:55] #98 closed

[2015-08-30 02:58] janbelmonte commented on #97
Merp. Still happening.

[2015-08-30 03:05] janbelmonte commented on #97
The images are relying on the dimensions assigned by Wordpress media editor. We need to find a way to make this responsive and not dependent on those defined dimensions.

[2015-08-30 03:34] RIanDeLaCruz commented on #97
![2015-08-30-113355_1318x744_scrot](https://cloud.githubusercontent.com/assets/7766185/9565582/12360a8a-4f0b-11e5-926b-5faa9738356c.png)

We could simply add a class.

[2015-08-30 04:30] janbelmonte opened #99 "Show tags on story pages"
Show article tags under related articles (in the same div)

[2015-08-30 04:50] tekamoment commented on #97
Here's what it looks like on simulated iPhones:

4S:
<img width="432" alt="screen shot 2015-08-30 at 12 46 24 pm" src="https://cloud.githubusercontent.com/assets/765270/9565744/a05703c8-4f15-11e5-85a2-be0b04290ffe.png">

5:
<img width="432" alt="screen shot 2015-08-30 at 12 45 34 pm" src="https://cloud.githubusercontent.com/assets/765270/9565745/a70d3c5a-4f15-11e5-8ed5-87e2f797c245.png">

5S:
<img